.index-cell {
  text-align: center;
  background-color: #999999;
  margin: 0;
  width: 100px;
  height: 50px;
  cursor: pointer;
  min-width: 70px;
}
.index-cell:hover {
  transition-duration: 0.5s;
  background-color: #AAAAAA;
}
.inner-cell {
  text-align: center;
  background-color: #CCCCCC;
  margin: 0;
  width: 100px;
  height: 50px;
}
.cell-content {
  position: relative;
}
.hide-cell {
  display: none;
}
.win0 {
  background-color: #E33735;
}
.win10 {
  background-color: #D34A34;
}
.win20 {
  background-color: #C45E34;
}
.win30 {
  background-color: #B47134;
}
.win40 {
  background-color: #A58533;
}
.win50 {
  background-color: #E7E523;
}
.win60 {
  background-color: #86AC33;
}
.win70 {
  background-color: #76BF32;
}
.win80 {
  background-color: #67D332;
}
.win90 {
  background-color: #58E732;
}
.win100 {
  background-color: #3EFF0A;
}
.info-section {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  opacity: 0;
  border: 1px solid #444444;
  background-color: #CCCCCC;
  transition: width 0.3s, opacity 0.3s;
}
.show-content {
  width: 35%;
  padding: 5%;
  opacity: 1;
}
.info-content {
  opacity: 0;
  transition: opacity 0.3s 0.3s;
}
.close-button {
  position: fixed;
  top: 30px;
  right: 30px;
  opacity: 0;
  visibility: hidden;
  z-index: 0;
  transition: opacity 0.3s 0.3s;
}
.show-delayed {
  visibility: visible;
  transition: opacity 0.3s 0.3s;
  opacity: 1;
}
.deck-content {
  padding: 5px;
}
.bestworst {
  padding: 5px;
}
.decklist-overlay {
  background-color: #000000;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
  align-content: center;
  transition: opacity 0.3s, visibility 0.3s;
}
.show-decklist-overlay {
  visibility: visible;
  opacity: 0.7;
  transition: opacity 0.3s, visibility 0.3s;
}
.decklist {
  visibility: hidden;
  position: fixed;
  align-content: center;
  background-color: #CCCCCC;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  opacity: 0;
  transition: opacity 0.5s, visibility 0.5s;
}
.show-decklist {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.5s;
}
.close-decklist {
  margin: auto;
  display: table;
  align-content: center;
}
